<!doctype html>
<html lang="en">
  <head>
    <title>Lunch Checker</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .message { font-size: 1.3em; font-weight: bold; }
    </style>
  </head>
<body ng-app="DishesCheckApp">
   <div class="container" ng-controller="DishesAppController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text" ng-model="lunchMenu"
             placeholder="list comma separated dishes you usually have for lunch"
             class="form-control" autofocus>
         </div>
         <div class="form-group">
             <button class="btn btn-default" ng-click="check()">Check If Too Much</button>
         </div>
         <div class="form-group message">
           <p class="{{classDes}}"> {{message}} </p>
         </div>
   </div>

</body>
</html>
